async-generator
attrs
beautifulsoup4
certifi
charset-normalizer
customtkinter
darkdetect
exceptiongroup
h11
idna
outcome
packaging
pyparsing
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
undetected-chromedriver
urllib3
webdriver-manager
websockets
wsproto
selenium-wire
undetected_chromedriver
packaging
fake-useragent